<!DOCTYPE html>
<html>
<head>
    <style>
    
    h1 {
        text-align: center;                          /* タイトルを中央に配置 */
        color: #99cc99;                              /* 文字の色を薄い緑色に変更 */
        font-family: '筑紫B丸ゴシック', sans-serif;  /* フォントの種類を筑紫B丸ゴシックに変更 */
        font-size: 60px;                             /* フォントサイズを60pxに設定 */
        margin-top: 50px;                            /* 上側の間隔を50pxに設定 */
        margin-bottom: 60px;                         /* h1とツールバーとの間のスペースを設定 */
        text-shadow: 2px 2px 3px #006600;            /* 濃い緑色の影を加える */
        -webkit-text-stroke: 1px #99cc99;            /* WebKitブラウザ用の細い縁取り */
        text-stroke: 1px #99cc99;                    /* その他のブラウザ用の細い縁取り */
    }


   .input-style {
      border: 5px solid green;  /* 枠線を緑色に */
      border-radius: 5px;      /* 角を少し丸く */
      padding: 5px;            /* 内側の余白を追加 */
      font-size: 16px;         /* テキストのサイズを指定 */
      width: 50%;             /* 幅を最大に */
    }
    .contents.row {
      display: flex;        /* フレックスボックスを有効にする */
      justify-content: center; /* 水平方向の中央に配置 */
      align-items: flex-start; /* 垂直方向の上部に配置 */
      height: 100vh;        /* ブラウザのビューポートの高さを100%とする */
    }

    .container {
      width: 100%;          /* コンテンツの幅を最大化する */
      text-align: center;
      max-width: 600px;     /* 最大の幅を指定して、レスポンシブなデザインを実現する */
    }

    .actions input[type="submit"] {
        background-image: linear-gradient(to bottom, #b3ffcc, #008000); /* 薄緑から緑へのグラデーション */
        color: #ffff99;                                                /* テキストの色を薄い黄色に */
        padding: 10px 20px;                                            /* ボタンのパディング */
        border: none;                                                  /* ボーダーを非表示に */
        border-radius: 5px;                                            /* ボタンの角を丸くする */
        cursor: pointer;                                               /* マウスカーソルをポインタに */
        font-size: 16px;                                               /* テキストのサイズ */
        margin-top: 30px;                                              /* 上側の間隔を設定 */
        font-family: '筑紫A丸ゴシック', sans-serif;                    /* フォントを筑紫A丸ゴシックに設定 */
    }

    /* ボタンにマウスをホバーしたときのスタイル */
    .actions input[type="submit"]:hover {
        background-image: linear-gradient(to bottom, #99ff99, #004d00); /* ホバー時に背景色を暗く */
    }

    </style>
</head>
<body>
  <div class="contents row">
    <div class="container">
      <h1>新規登録するよ〜</h1>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :nickname %> <em>(6 characters maximum)</em><br />
          <%= f.text_field :nickname, autofocus: true, maxlength: "6", class: 'input-style' %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'input-style' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'input-style' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input-style' %>
        </div>

        <div class="actions">
          <%= f.submit "登録するよ〜" %>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>