<!DOCTYPE html>
<html>
<head>
    <style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        margin: 0;
    }

    .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;  /* 画面の80%を利用するとした場合 */
    }

    .container {
        margin-top: 20px;  /* コメント部分との間に少しスペースをとる */
    }

    .btn {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none; /* リンクの下線を消去 */
        margin: 5px; /* ボタン同士の間隔を追加 */
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
    }

    .btn-success {
        background-color: #28a745;
        color: white;
    }

    .btn-warning {
        background-color: #ffc107;
        color: white;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
    }

    .btn:hover {
        opacity: 0.85; /* ホバー時に透明度を変更して、ボタンがクリックできることを示す */
    }


    </style>
</head>

<body>

  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <div class="more">
      
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_tweet_path(@tweet.id), class: 'btn btn-primary' %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(@tweet.id), data: { turbo_method: :delete }, class: 'btn btn-danger' %>
          </li>
        </ul>

      </div>
    <% end %>
    <p><%= @tweet.text %></p>
    <span class="name">
      <a href="/users/<%= @tweet.user.id %>">
        <span>投稿者</span><%= @tweet.user.nickname %>
      </a>
    </span>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ おえかきの保存や編集は新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>